body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

button {

    background: transparent;
    border: none !important;
    font-size:0;
}

#pad{
  padding-top: 7px;
}

#artistName {
  margin-top: -150px;
}

#songTitle {
  margin-top: -50px;
}

#demo {
  margin-top: -25px;
}
